<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT change_details ANY>
<!ATTLIST change_details id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT Logout ANY>
<!ATTLIST Logout id ID #REQUIRED>
<!ELEMENT MainPage ANY>
<!ATTLIST MainPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT Products ANY>
<!ATTLIST Products id ID #REQUIRED>
<!ELEMENT user_reg ANY>
<!ATTLIST user_reg id ID #REQUIRED>
<!ELEMENT users_overview ANY>
<!ATTLIST users_overview id ID #REQUIRED>

]>
<root id="-1">
  <MainPage id="1050" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1048" template="1047" sortOrder="2" createDate="2013-12-15T22:29:40" updateDate="2013-12-15T22:31:39" nodeName="Main Page" urlName="main-page" writerName="admin" creatorName="admin" path="-1,1050" isDoc="">
    <main><![CDATA[
<p>Please <a href="/login">Login</a> or <a
href="/register">Register</a>.</p>
]]></main>
    <user_reg id="1078" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1052" template="1051" sortOrder="2" createDate="2013-12-24T22:48:19" updateDate="2013-12-24T23:53:18" nodeName="Register" urlName="register" writerName="admin" creatorName="admin" path="-1,1050,1078" isDoc="" />
    <change_details id="1081" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1079" template="1068" sortOrder="3" createDate="2013-12-24T22:52:33" updateDate="2013-12-24T23:53:35" nodeName="Edit user" urlName="edit-user" writerName="admin" creatorName="admin" path="-1,1050,1081" isDoc="" />
    <login id="1082" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1057" template="1056" sortOrder="4" createDate="2013-12-24T22:53:09" updateDate="2013-12-24T23:53:42" nodeName="Login" urlName="login" writerName="admin" creatorName="admin" path="-1,1050,1082" isDoc="" />
    <Logout id="1085" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1071" template="1086" sortOrder="5" createDate="2013-12-24T23:29:02" updateDate="2013-12-24T23:53:59" nodeName="Logout" urlName="logout" writerName="admin" creatorName="admin" path="-1,1050,1085" isDoc="" />
    <users_overview id="1084" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1080" template="1073" sortOrder="5" createDate="2013-12-24T22:54:01" updateDate="2013-12-24T23:53:53" nodeName="Other Users" urlName="other-users" writerName="admin" creatorName="admin" path="-1,1050,1084" isDoc="" />
    <Products id="1110" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1109" template="1098" sortOrder="6" createDate="2013-12-26T13:34:51" updateDate="2013-12-26T13:38:10" nodeName="Products" urlName="products" writerName="admin" creatorName="admin" path="-1,1050,1110" isDoc="">
      <product id="1111" parentID="1110" level="3" writerID="0" creatorID="0" nodeType="1108" template="1106" sortOrder="1" createDate="2013-12-26T13:35:30" updateDate="2013-12-26T13:46:26" nodeName="Camera" urlName="camera" writerName="admin" creatorName="admin" path="-1,1050,1110,1111" isDoc="">
        <image>/media/80/highres-nikon-coolpix-p100jpg_1345802652.jpg</image>
        <info><![CDATA[
<p>This is a camera</p>
]]></info>
      </product>
      <product id="1112" parentID="1110" level="3" writerID="0" creatorID="0" nodeType="1108" template="1106" sortOrder="2" createDate="2013-12-26T13:36:11" updateDate="2013-12-26T13:38:39" nodeName="Frog" urlName="frog" writerName="admin" creatorName="admin" path="-1,1050,1110,1112" isDoc="">
        <image>/media/84/bioke.jpg</image>
        <info><![CDATA[
<p>this is a frog</p>
]]></info>
      </product>
      <product id="1115" parentID="1110" level="3" writerID="0" creatorID="0" nodeType="1108" template="1106" sortOrder="3" createDate="2014-01-09T14:52:56" updateDate="2014-01-09T14:53:37" nodeName="Kid" urlName="kid" writerName="admin" creatorName="admin" path="-1,1050,1110,1115" isDoc="">
        <image>/media/100/ap4ha5ica65iktucalkjg1scaxstt6mca82g23xcao4gqgeca0zrbudcagzuzcfcam6sc6vca7z5xtocasnby87ca160iw6cagycpj3cadboxtwca994cb7carnihxpcagc72facaormdtwcadt15q3.jpg</image>
        <info><![CDATA[
<p>This is a kid</p>
]]></info>
      </product>
    </Products>
  </MainPage>
</root>